@use './variables.scss' as *;
@use './theme.scss' as *;

body,
html {
	height: 100%;
	width: 100%;

	// 禁止选择文字
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	line-height: 1.5;
	font-size: 14px;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include useTheme() {
		background-color: getVar('main-bg-color');
		color: getVar('main-text-color');

		.my-card {
			backdrop-filter: blur(10px);
			background-color: getVar('main-card-color');
		}
	}
}

#app {
	height: 100%;
	width: 100%;
	position: relative;
}

@media screen and (min-width: 576px) {
	#app {
		height: 80vh !important;
		border-radius: 30px;
		transform: scale(0.8);
		border: 5px solid #000;
		box-sizing: content-box;


		::-webkit-scrollbar-track-piece {
			background-color: rgba(0, 0, 0, 0);
			border-left: 1px solid rgba(0, 0, 0, 0);
		}

		::-webkit-scrollbar {
			width: 5px;
			height: 13px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}

		::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, 0.2);
			background-clip: padding-box;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			min-height: 28px;
		}

		::-webkit-scrollbar-thumb:hover {
			background-color: rgba(0, 0, 0, 0.3);
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
	}
}

// 图片懒加载指令动画
@keyframes lazy-img-blur-in {
	0% {
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		filter: blur(0);
		opacity: 1;
	}
}